.swiper {
  height: 30rem;
  margin-top: 3rem;
  .swiper-slide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;

    img {
      width: 100vw;
      min-width: 430px;
    }
  }
  .green {
    background: $primary-color;
  }
  .red {
    background: darkred;
  }
  @include tablet {
    height: 20rem;
  }
  @include mobile {
    height: 10rem;
  }
}